{% extends 'store/main.html' %}
{% load static %}

{% block content %}


    <div class = "promo">
        <h1><strong>New Additions!</strong></h1>
        <h2><strong>Arrivals for August</strong></h2>
        <a  class="btn btn-light btn-lg" id="view-listing-link" href = "#"><strong>View Listing</strong></a>
        <!-- will be a slideshow here later -->
        <img src = "{% static 'images/new-manga.png' % }">
        
    </div>

<!-- 
   <div class = "row">
        {% for product in products%}
        <div class = "col-lg-4">
            <img class = "thumbnail" src="{{product.imageURL}}">
            <div class = "box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product = {{product.id}} data-action="add" class = "btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a class = "btn btn-outline-success" href = "#">View</a>
                <h4 style="float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
   </div> -->

{% endblock content %}