{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- Left Column / Headphones Image -->


<link rel = "stylesheet" type = "text/css" href="{% static 'css/productview.css' %}">
<div class="left-column">
    <img src = "{{product.image.url}}">
</div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{product.category}}</span>
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span class="current-product-price">{{product.price}}$</span>
      <button class="cart-btn add-cart"
    data-pid="{{ product.id }}"
    data-title="{{ product.title }}"
    data-price="{{ product.price }}"
    data-image="{{ product.image.url }}">Add to cart</button>
      <button href="submit" class="cart-btn add-cart", style="margin-left: 10px;">Add to Wishlist</button>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock content %} 