{% extends 'store/main.html' %}
{% load static %}

{% block content %}


    <div class = "promo">
        <h1><strong>Featured Items!</strong></h1>
        <h2><strong>Featured items for March</strong></h2>
        <!-- <a  class="btn btn-light btn-lg" id="view-listing-link" href = "#"><strong>View Listings</strong></a>
        <img class = "slideshow" src = "{% static  'images/newmanga.png' %}"> -->
        <div class = "slide-container">
            <div class = "wrapper">
                {% for p in products%}
                {% if p.featured %}
                <img src = "{{p.image.url}}" id = "slideshow-img">
                {% endif %}
                {% endfor %}
                <img src = "{% static 'images/comingsoon.jpg' %}" id = "coming-soon-img">
            </div>
        </div>
    </div>



    <div class="recommended">
        <h3 id="white-background">Featured:</h3>
        <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
        <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>

        <div class="product">
            <div class="product-container">
                {% for product in products %}
                {% if product.featured %}
                <div class="product-card">
                    <div class="product-image">
                        <img src = "{{product.image.url}}" class="product-thumb">
                        <a class="view-btn" href="{% url 'product' product.pid %}" >view</a>
                        <button type = "submit" id = "add-button" class = "add-cart-btn add-cart" 
                        data-pid = "{{product.pid}}" data-title = "{{product.title}}" data-price = "{{product.price}}" data-image = "{{product.image.url}}">add to cart</button>
                    </div>
                    <div class = "product-info">
                        <h3 class = "product-brand">{{product.title}}</h3>
                        <span class = "price">{{product.price}}$</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="recommended">
            <h3 id="white-background">Shonen:</h3>
            <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
            <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>
    
            <div class="product">
                <div class="product-container">
                    {% for product in products %}
                    {% if product.category.title == "Shonen" %}
                    <div class="product-card">
                        <div class="product-image">
                            <img src = "{{product.image.url}}" class="product-thumb">
                            <a class="view-btn" href="{% url 'product' product.pid %}" >view</a>
                            <button type = "submit" id = "add-button" class = "add-cart-btn add-cart" data-pid = "{{product.pid}}" data-title = "{{product.title}}" 
                            data-price = "{{product.price}}" data-image="{{product.image.url}}">add to cart</button>
                        </div>
                        <div class = "product-info">
                            <h3 class = "product-brand">{{product.title}}</h3>
                            <span class = "price">{{product.price}}$</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>



            <div class="recommended">
                <h3 id="white-background">Seinen:</h3>
                <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
                <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>
        
                <div class="product">
                    <div class="product-container">
                        {% for product in products %}
                        {% if product.category.title == "Seinen" %}
                        <div class="product-card">
                            <div class="product-image">
                                <img src = "{{product.image.url}}" class="product-thumb">
                                <a class="view-btn" href="{% url 'product' product.pid %}" >view</a>
                                <button type = "submit" id = "add-button" class = "add-cart-btn add-cart" data-pid = "{{product.pid}}" 
                                data-title = "{{product.title}}" data-price = "{{product.price}}" data-image = "{{product.image.url}}">add to cart</button>
                            </div>
                            <div class = "product-info">
                                <h3 class = "product-brand">{{product.title}}</h3>
                                <span class = "price">{{product.price}}$</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>    
    </div>


{% endblock content %} 