{% extends 'store/main.html' %}
{% load static %}

{% block content %}


    <div class = "promo">
        <h1><strong>New Additions!</strong></h1>
        <h2><strong>Arrivals for August</strong></h2>
        <a  class="btn btn-light btn-lg" id="view-listing-link" href = "#"><strong>View Listings</strong></a>
        <img class = "slideshow" src = "{% static  'images/newmanga.png' %}">
    </div>



    <div class="recommended">
        <h3 id="white-background">Featured:</h3>
        <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
        <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>

        <div class="product">
            <div class="product-container">
                {% for product in products %}
                {% if product.featured %}
                <div class="product-card">
                    <div class="product-image">
                        <img src = "{{product.image.url}}" class="product-thumb">
                        <a class="view-btn" href="{% url 'product' pid=product.pid %}" >view</a>
                        <button class = "add-cart-btn add-btn update-cart">add to cart</button>
                    </div>
                    <div class = "product-info">
                        <h3 class = "product-brand">{{product.title}}</h3>
                        <span class = "price">{{product.price}}$</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="recommended">
            <h3 id="white-background">Shonen:</h3>
            <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
            <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>
    
            <div class="product">
                <div class="product-container">
                    {% for product in products %}
                    {% if product.category.title == "Shonen" %}
                    <div class="product-card">
                        <div class="product-image">
                            <img src = "{{product.image.url}}" class="product-thumb">
                            <a class="view-btn" href="{% url 'product' pid=product.pid %}" >view</a>
                            <button class = "add-cart-btn add-btn update-cart">add to cart</button>
                        </div>
                        <div class = "product-info">
                            <h3 class = "product-brand">{{product.title}}</h3>
                            <span class = "price">{{product.price}}$</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>



            <div class="recommended">
                <h3 id="white-background">Seinen:</h3>
                <button class = "pre-btn"><img src = "{% static 'images/arrow.png' %}"></button>
                <button class = "nxt-btn"><img src = "{% static 'images/arrow.png' %}"></button>
        
                <div class="product">
                    <div class="product-container">
                        {% for product in products %}
                        {% if product.category.title == "Seinen" %}
                        <div class="product-card">
                            <div class="product-image">
                                <img src = "{{product.image.url}}" class="product-thumb">
                                <a class="view-btn" href="{% url 'product' pid=product.pid %}" >view</a>
                                <button class = "add-cart-btn add-btn update-cart">add to cart</button>
                            </div>
                            <div class = "product-info">
                                <h3 class = "product-brand">{{product.title}}</h3>
                                <span class = "price">{{product.price}}$</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>    
    </div>


{% endblock content %} 